* {
    padding: 0;
    box-sizing: border-box;
}

html {
    display: block;
    text-align: center;
}

body {
    font-family: 'Laila', sans-serif;
    background-color: #feefff;
}

input[type=submit]{
    border-radius: 5px;
    width: 20%;
    height: auto;
}

main.searchContainer {
    display: inline;
    max-width: 600px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex-wrap: wrap;
}

p {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 5px;
}

.js-form{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 50px;
}

img {
    max-width: 25%;
    max-height: 25%;
}

.results-list li{
    display: inline;
    text-align: center;
    margin: auto;
    float: left;
}

li {
    max-width: 33%;
    max-height: 50%;
}

h3 {
    cursor: pointer;
}

ul#recipeCard > li {
    text-align: center;
    width: 50%;
    margin: auto;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}

.form {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}