* {
    padding: 0;
    box-sizing: border-box;
}

html {
    display: block;
    text-align: center;
}

body {
    font-family: 'Laila', sans-serif;
}

input[type=submit]{
    border-radius: 10px;
    width: 20%;
    height: auto;
}

input[type=text] {
    padding: 2px;
    width: 35%;
    max-width: 150px;
}

main.searchContainer {
    display: inline;
    padding: 5px;
}

#recipe-card > img {
    height: auto;
    width: 90%;
}

p {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 5px;
}

.js-form{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 50px;
}

img {
    max-width: 50%;
    width: auto;
}

.results-list {
    display: inline;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.results-list > li {
    max-width: 25%;
    cursor: pointer;
}

.results-list > li > img {
    max-height: 200px;
}

h3 {
    cursor: pointer;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

ul#recipeCard > li {
    text-align: left;
    width: 75%;
    margin: auto;
    padding: 5px;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}

.form {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 35%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
    max-width: 35%;
    margin: auto;
}
  
#checkboxes label {
    display: block;
}
  
#checkboxes label:hover {
    background-color: #1e90ff;
}

@media only screen and (max-width: 600px){
    body {
        background-color: white;
    } .results-list {
        font-size: 10px;
        margin-top: 5px;
    } .results-list > li{
        max-width: 33%;
    }
}