* {
    padding: 0;
    box-sizing: border-box;
}

html {
    display: block;
    text-align: center;
}

body {
    font-family: 'Laila', sans-serif;
    background-color: #feefff;
}

input[type=submit]{
    border-radius: 10px;
    width: 20%;
    height: auto;
}

input[type=text] {
    padding: 2px;
    width: 35%;
    max-width: 150px;
}

main.searchContainer {
    display: inline;
    max-width: 600px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex-wrap: wrap;
}

#recipe-card > img {
    height: auto;
    width: 90%;
}

p {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 5px;
}

.js-form{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 50px;
}

img {
    max-width: 50%;
    width: auto;
    /*max-height: 25%;*/
}

.results-list {
    display: inline;
    text-align: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.results-list > li {
    max-width: 25%;
}

h3 {
    cursor: pointer;
}

ul#recipeCard > li {
    text-align: left;
    width: 75%;
    margin: auto;
    padding: 5px;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}

.form {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

@media only screen and (max-width: 600px){
    body {
        background-color: white;
    } .results-list {
        font-size: 10px;
        margin-top: 5px;
    } .results-list > li{
        max-width: 33%;
    }
}

@media only screen and (min-width: 600px){
    body {
        background-color: lightblue;
    }
}

@media only screen and (min-width: 768px){
    body {
        background-color: gray;
    }
}

@media only screen and (min-width: 992px){
    body {
        background-color: mintcream;
    }
}

@media only screen and (min-width: 1200px){
    body {
        background-color: blanchedalmond;
    }
}